.navbar {
    background-color: rgb(247, 249, 250);
    display: flex;
    justify-content: space-evenly;
    align-items: center;/* Reasonable padding */
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;

 
}

.profile {
    height: 60px;
    margin-right: 10px; 
    margin-left: 30px;/* Adjust spacing between the image and text */
}

.navbar-brand {
    margin: 0;
    font-weight: bolder;
    font-size: x-large;
    text-decoration: none ;
    color: black;
}

.nav-list {
    list-style: none;
    margin: 1rem;
    padding: 0rem;
    display: flex;
    margin-left: auto; /* Pushes the nav list to the right */
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
}
.nav-item4{
    font-size: large;
    background-color:rgb(247, 249, 250);
    border: none;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-right: 1rem; /* Adjust spacing between nav items */
    padding-left: 1rem;
}
.nav-item3 {
    font-size: large;
    background-color:rgb(247, 249, 250);
    border: none;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-right: 1rem; /* Adjust spacing between nav items */
    padding-left: 1rem;
}
.nav-item2{
    font-size: large;
    background-color:rgb(247, 249, 250);
    border: none;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-right: 1rem; /* Adjust spacing between nav items */
    padding-left: 1rem;
}
.nav-item1{
    font-size: large;
    background-color:rgb(247, 249, 250);
    border: none;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-right:1rem; /* Adjust spacing between nav items */
    padding-left: 1rem;

}
#nav-btn:hover{
    color: purple;
    text-decoration: underline;
}

.nav-link {
   
    text-decoration: none;
  
}
.project-description-middle{
    display: flexbox;
    align-items: center;
    justify-content: center;
    height:auto;
    width: 100%;
    background-image: url(image1.jpg);
    margin-top: -30px;
    padding-bottom: 50px;
}
#project-heading{
    font-weight: 1500;
    display:flexbox;
    text-align: center;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-size: xxx-large;
    padding-top: 40px;
    width:auto;
}
#para1{
    display:flexbox;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: larger;
    color: rgb(95, 95, 91);
}
#para2{
    display:flexbox;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: larger;
    margin-bottom: 100px;
    color: rgb(95, 95, 91);
}
#github-btn {
    display: flex; /* Correct flexbox display */
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 65px; /* Consider adjusting this for smaller screens */
    width: 80%; /* Relative width to parent */
    max-width: 200px; /* Maximum width for larger screens */
    margin: 20px auto; /* Center the button with auto margins */
    font-size: larger;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(153, 150, 150);
    border: 1px solid rgb(153, 150, 150);
    transition: background-color 0.5s ease;
    border-radius: 10px;
    margin-bottom: 0px;
}

#github-btn:hover {
    background-color: rgb(85, 83, 83);
    color: rgb(226, 222, 222);
}
.project-description-about{
    margin-top: -20px;
    height: 600px;
    width: 100%;
    background-color: rgb(226, 222, 222);
    display: flex;
    align-items: center;
    justify-content: center;
}
#photo-spotify{
    height: 450px;
    display: block;
}
.project-overview{
    background-color: rgb(226, 222, 222);   
    margin-top: -20px;
    height: auto;
    width: 100%;
    padding-bottom: 40px;
}
#project-title-overview{
    display: block;
    justify-content: center;
    text-align: center;
    font-size: xxx-large;
    margin-top: 20px;
    text-decoration: underline;
    text-decoration-color: red;
}
.project-description-view{
    justify-content: center;
    text-align: center;
    font-size: x-large;
    margin-top: 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',  Geneva, Verdana, sans-serif;
    color: rgb(95, 95, 91);
}
.tool{
    display: flexbox;
    justify-content: center;
    align-items: center;
}
#tools-used{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: xxx-large;
    margin-top: 80px;
    text-decoration: underline;
    text-decoration-color: red;

}
#tools{
    display:inline-flex;
    text-align: center;
    justify-content: center;
    margin-left: 22%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(153, 150, 150);
    color:  rgb(61, 60, 59);
    font-size:23px;
    border-radius: 10px;
}
#githubl-btn {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto; /* Center the button with automatic left and right margins */
    width: 80%; /* Make the button width relative to the parent container */
    max-width: 300px; /* Set a maximum width */
    font-size: xx-large;
    padding: 10px 0; /* Add vertical padding to create space around the text */
    background-color: rgb(153, 150, 150);
    border: 1px solid rgb(153, 150, 150);
    transition: background-color 0.5s ease;
    border-radius: 10px;
    font-weight: bold;
}

#githubl-btn:hover {
    background-color: rgb(85, 83, 83);
    color: rgb(226, 222, 222);
}

footer {
    height: 320px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .footer-lastname{
    padding-bottom: 20px;
  }
  .bio {
    margin-top: 10px;
    margin-bottom: 1px;
  }
  
  .bio h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .bio p {
    margin: 5px 0 0;
    font-size: 16px;
  }
  
  .social-links a {
    color: #fff;
    margin: 10px 40px;
    padding-top:30px;
    margin-bottom: 20px;
    text-decoration: none;

  }


  .nav-item-bar1{
    font-size: larger;
    background-color:rgb(247, 249, 250);
    border: none;
    margin-bottom: 50px;
    margin-left: 3rem;
    margin-right: 1rem;
    padding-right: 1rem; /* Adjust spacing between nav items */
    padding-left: 1rem;
    background-color: transparent;
    text-decoration: none;
}  

.nav-item-bar2{
    font-size: larger;
    background-color:rgb(247, 249, 250);
    border: none;
    margin-bottom: 50px;
    margin-left: 3rem;
    margin-right: 1rem;
    padding-right: 1rem; /* Adjust spacing between nav items */
    padding-left: 1rem;
    background-color: transparent;
    text-decoration: none;
}   

.nav-item-bar3{
    font-size: larger;
    background-color:rgb(247, 249, 250);
    border: none;
    margin-bottom: 50px;
    margin-left: 3rem;
    margin-right: 1rem;
    padding-right: 1rem; /* Adjust spacing between nav items */
    padding-left: 1rem;
    background-color: transparent;
    text-decoration: none;
}   

.nav-item-bar4{
    font-size: larger;
    background-color:rgb(247, 249, 250);
    border: none;
    margin-bottom: 50px;
    margin-left: 3rem;
    margin-right: 1rem;
    padding-right: 1rem; /* Adjust spacing between nav items */
    padding-left: 1rem;
    background-color: transparent;
    text-decoration: none;
}   

.nav-item-bar5{
    font-size: larger;
    background-color:rgb(247, 249, 250);
    border: none;
    margin-bottom: 50px;
    margin-left: 3rem;
    margin-right: 1rem;
    padding-right: 1rem; /* Adjust spacing between nav items */
    padding-left: 1rem;
    background-color: transparent;
    text-decoration: none;
}  


#sidebar{
    position: fixed;
    top: 0;
    right: 0;
    padding-bottom: 100px;
    height: 100vh;
    width:100%;
    z-index: 1;
    background-color: #ffffff48;
    display: none;
    backdrop-filter: blur(10px);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 0 10px  black;
}
#sidebar li{
    width: 100%;
}
#sidebar a{
    width: 100%;
}

  
@media(max-width:850px) {
    .nav-item1,.nav-item2,.nav-item3,.nav-item4{
        display: none;
    }
}
@media(max-width:530px){
    .navbar-brand{
        display: none;
    }

    #project{
        margin-left: 20%;
    }
}
@media(max-width:1000px){
            #icon{
        display:none;
    }
}
@media(min-width:850px){
    .nav-item5{
        display: none;
    }
}
@media(max-width:850px){

    #photo-spotify{
        height:250px;
    }
}
@media(max-width:500px){

    #photo-spotify{
        height:150px;
    }
    #project-heading{
        font-weight: 1500;
        display:flexbox;
        text-align: center;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        font-size: xx-large;
        padding-top: 40px;
        width:auto;
    }
    #project-title-overview{
        display: block;
        justify-content: center;
        text-align: center;
        font-size: xx-large;
        margin-top: 20px;
        text-decoration: underline;
        text-decoration-color: red;
    }
}
@media(max-width:300px){
    #project-heading{
        font-weight: 1500;
        display:flexbox;
        text-align: center;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        font-size: x-large;
        padding-top: 40px;
        width:auto;
    }
    #project-title-overview{
        display: block;
        justify-content: center;
        text-align: center;
        font-size: x-large;
        margin-top: 20px;
        text-decoration: underline;
        text-decoration-color: red;
    }
}